@model ForgotPasswordViewModel


@Html.Partial("_Logo")

<hgroup class="title">
    <h1>@Model.Title1</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

