<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Deletion confirmation
                </h4>
            </div>
            <div class="modal-body">
                <p> You're about to delete <strong><em id="data-eml-deletename"></em></strong>.</p>
                <p>
                    <strong>
                        Are you sure you want to continue?
                    </strong>
                </p>
            </div>
            <div class="modal-footer">
                @*@Html.Partial("_BusyIndicator")*@
            </div>
        </div>
    </div>
</div>
