<div class="modal fade " id="errorMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title text-danger">
                     Error 
                </h4>
            </div>
            <div class="modal-body alert-danger">
                Unknown Message.
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">Dismiss</button>
            </div>
        </div>
    </div>
</div>

