<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_Favicon")
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
