@using (Html.BeginForm(null, null, new { @returnUrl = Model.ReturnUrl }, FormMethod.Post, new { data_eml_createconfirmation = "true" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-horizontal" id="LayoutCreateEditContent">
            @Html.Partial(Model.ContentViewModel.LayoutCreateContentName as string)
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span id="busyindicatorCreate" style="display: none;">
                    @Html.Partial("_BusyIndicatorSmall")
                </span>
                @Html.Partial("_AddButton")
            </div>
        </div>
    </div>
}
