<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<a href="@Url.Action("Index", "Home", new { @area=""})" area="" class="navbar-brand">

    <i class="fa fa-home" style="margin-right: 3px;"></i>
    @Model.ApplicationName
    <span class="sr-only">Home</span>
</a>
